# Environment variables
.env

# Virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite
*.sqlite3

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db